@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-theme-color-black-primary: #191919;
    --main-theme-color-black-secondary: #131313;
    --main-theme-color-white: #f1f1f1;
    --main-theme-color-red: #e00157;
    --main-theme-color-green: #008d2f; 
    --main-theme-color-yellow: #a39700; 
    --main-margin-dati: 2%;
    --main-font-size-info-section: 1.3em;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-theme-color-black-primary);
    color: var(--main-theme-color-white);
}

a {
    color: var(--main-theme-color-red);
    text-decoration: none;
}

div:hover {
    outline: 0;
}

.main {
    min-height: 100vh;
}

.main--dark {
    background-color: var(--main-theme-color-black-primary);
    color: var(--main-theme-color-white);
}

.main--light {
    background-color: var(--main-theme-color-white);
    color: var(--main-theme-color-black-primary);
}

.hover-background {
    background-color: rgba(0, 0, 0, 0.233);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

/* BUTTON MATERIAL STYLE */
.button.md-button {
    padding: 0 0.5em;
    border: 0;
    color: var(--main-theme-color-white);
    background-color: #131313;
    border-radius: 0.2em;
    border: 0.3em solid transparent;
    border-left: 0.2em solid var(--main-theme-color-red);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
}

.main--light .button.md-button {
    color: var(--main-theme-color-black-primary);
    background-color: var(--main-theme-color-white);
}

.button.md-button.md-raised:not([disabled]):hover {
    background-color: #1d1d1d;
    color: var(--main-theme-color-white);
}

.main--light .button.md-button.md-raised:not([disabled]):hover {
    background-color: rgb(228, 228, 228);
    color: var(--main-theme-color-black-primary);
}

.md-button.md-default-theme.md-raised:not([disabled]).md-focused, .md-button.md-raised:not([disabled]).md-focused {
    background-color: #1d1d1d;
    color: var(--main-theme-color-white);

}

.main--light .md-button.md-default-theme.md-raised:not([disabled]).md-focused, .main--light .md-button.md-raised:not([disabled]).md-focused {
    background-color: rgb(228, 228, 228);
    color: var(--main-theme-color-black-primary);
}

.button .md-ripple-container {
    display: none;
}

/* INPUT MATERIAL STYLE */
.main md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: var(--main-theme-color-white);
    border-color: rgba(0,0,0,0.12);
    text-decoration: none;
}

.main--light md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: var(--main-theme-color-black);
}

.main md-input-container.md-default-theme .md-input::placeholder, md-input-container .md-input::placeholder {
    color: #888888;
}

.main md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #888888;
}

.main md-input-container label {
    color: var(--main-theme-color-white);
    font-size: 1.4em;
}

.main--light md-input-container label {
    color: var(--main-theme-color-black);
}

.main md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: var(--main-theme-color-red);
    text-decoration: none;
}

.main md-input-container:not(.md-input-invalid).md-input-focused label {
    color: var(--main-theme-color-white);
}

.main--light md-input-container:not(.md-input-invalid).md-input-focused label {
    color: var(--main-theme-color-black);
}

.main md-input-container.md-default-theme.md-input-focused .md-input::placeholder, md-input-container.md-input-focused .md-input::placeholder {
    color: #888888;
}

.main md-input-container:not(.md-input-invalid) .md-input {
    border-color: rgba(255, 0, 106, 0.397);
    text-decoration: none;
}

.main md-input-container:not(.md-input-invalid) label {
    color: var(--main-theme-color-white);
}

.main--light md-input-container:not(.md-input-invalid) label {
    color: var(--main-theme-color-black);
}

.main md-input-container.md-default-theme .md-input::placeholder, md-input-container.md-input-focused .md-input::placeholder {
    color: #888888;
}

.main md-input-container {
    margin: 0;
}

/* SELECT MATERIAL STYLE*/
.main md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: var(--main-theme-color-red);
}

.main--dark md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: var(--main-theme-color-red);
    color: var(--main-theme-color-white);
}

.main--light md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: var(--main-theme-color-red);
    color: var(--main-theme-color-black-primary);
}

md-select-menu md-content md-option[selected]:focus {
    color: var(--main-theme-color-red);
}

@media screen and (min-width: 768px) {
    .main .flex-desktop {
        display: flex;
    }
}
