
.footer {
    background-color: var(--main-theme-color-black-secondary);
    margin-top: 7vw;
    font-size: 0.5em;
    margin: 0;
    padding: 4vw 2vw;
    margin-top: 10vw;
}

.main--light .footer {
    background-color: #e7e7e7;
    color: var(--main-theme-color-black-primary);
}

.footer span {
    font-size: 1.1em;
    font-weight: bold;
}

.footer a {
    font-weight: bold;
}

.developed-by {
    text-align: left;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 0.7em;
        padding: 1vw 2vw 1vw 2vw;
        margin-top: 3vw;
    }

    .developed-by {
        text-align: right;
    }
}