<div class="chart-block">
    <div class="chart-block__title">Incremento delle Terapie Intensive</div>
    <canvas id="chart-new-inensive-care" class="chart chart-line" chart-colors="colors.red" chart-data="chartNewIntensiveCare.data"
        chart-labels="chartNewIntensiveCare.labels" chart-series="chartNewIntensiveCare.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
