<div class="chart-block">
    <div class="chart-block__title">Attualmente Positivi</div>
    <canvas id="chart-tot-positive" class="chart chart-line" chart-colors="colors.red" chart-data="chartPositive.data"
        chart-labels="chartPositive.labels" chart-series="chartPositive.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>