<div class="chart-block">
    <div class="chart-block__title">Totale Deceduti</div>
    <canvas id="chart-deceased" class="chart chart-line" chart-colors="colors.red" chart-data="chartDeceased.data"
        chart-labels="chartDeceased.labels" chart-series="chartDeceased.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
