<div class="chart-block">
    <div class="chart-block__title">Totale Guariti</div>
    <canvas id="chart-resigned" class="chart chart-line" chart-colors="colors.green" chart-data="chartResigned.data"
        chart-labels="chartResigned.labels" chart-series="chartResigned.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
