<div class="last-day-data">
    <div class="info-field" ng-class="{'info-field--green': el.green, 'info-field--yellow': el.yellow }" ng-repeat="el in lastDayInfo.info">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{el.title}}</span>
                    <span class="md-subhead" ng-if="el.desc">{{el.desc}}</span>
                    <span class="md-subhead" ng-if="!el.desc">Non disponibile</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>
