<div class="chart-block">
    <div class="chart-block__title">Nuovi Positivi - Nuovi Guariti</div>
    <canvas id="chart-positive-resigned" class="chart chart-line" chart-colors="colors.multiple"
        chart-data="chartNewPositiveResigned.data" chart-labels="chartNewPositiveResigned.labels"
        chart-series="chartNewPositiveResigned.series" chart-options="options" chart-dataset-override="datasetOverride"
        chart-click="onClick">
    </canvas>
</div>