<div class="chart-block">
    <div class="chart-block__title">Nuovi Deceduti</div>
    <canvas id="chart-new-deceased" class="chart chart-line" chart-colors="colors.red" chart-data="chartNewDeceased.data"
        chart-labels="chartNewDeceased.labels" chart-series="chartNewDeceased.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
