<div class="chart-block">
    <div class="chart-block__title">Attualmente Terapia Intensiva</div>
    <canvas id="chart-intensive-care" class="chart chart-line" chart-colors="colors.red"
        chart-data="chartIntensiveCare.data" chart-labels="chartIntensiveCare.labels"
        chart-series="chartIntensiveCare.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>