<div class="chart-block">
    <div class="chart-block__title">% Nuovi Positivi/Tamponi</div>
    <canvas id="chart-perc-new-positive-swabs" class="chart chart-line" chart-colors="colors.red"
        chart-data="chartPercNewPositiveSwabs.data" chart-labels="chartPercNewPositiveSwabs.labels"
        chart-series="chartPercNewPositiveSwabs.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>