<div class="clarifications">
    <div class="data-clarifications">
        <div>
            <div class="data-clarifications__title">News</div>
            <div>
                <div>
                    - Dal 19 Agosto è presente il grafico <b>Tamponi Giornalieri</b>.
                </div>
                <br>
                <div>
                    - Dal 19 Agosto è presente il grafico <b>% Nuovi Positivi/Tamponi</b> che tiene conto della crescita percentuale dei casi giornalieri di Covid-19 rispetto ai tamponi eseguiti in quel giorno.
                </div>
                <br>
            </div>
        </div>
    </div>
</div>