<div class="select-data">
    <span class="select-data__title">Area geografica</span><br>
    <div class="pure-g">
        <div class="pure-u-md-1-2">
            <md-select class="md-select-value" ng-model="currentArea" ng-change="executeCreateCharts(currentArea, currentPeriod)" aria-label="ShowHideAccountant">
                <md-option ng-repeat="area in geographicArea" ng-value="area">{{area}}</md-option>
            </md-select>
        </div>
    </div>
</div>
