<div class="select-data">
    <span class="select-data__title">Seleziona Periodo</span><br>
    <div class="pure-g">
        <div class="pure-u-md-1-2">
            <md-select class="md-select-value" ng-model="currentPeriod" ng-change="executeCreateCharts(currentArea, currentPeriod)" aria-label="ShowHideAccountant">
                <md-option ng-repeat="period in chartsPeriod" ng-value="period.value">{{period.days}}</md-option>
            </md-select>
        </div>
    </div>
</div>
