<div class="national-trend">
    <div class="title">DATI COVID-19 ITALIA</div>
    <div class="update-date">
        Data di aggiornamento: {{lastDayInfo.date}}
    </div>    
    <div class="loading" ng-if="loading">
        <div ng-if="!callError">
            <div ng-include="'html/mainBody/view-loader.html'"></div>
        </div>
    </div>
    <div class="call-error" ng-if="callError">
        Il servizio non è disponibile al momento, riprova più tardi.
    </div>
    <div ng-if="!loading">
        <section>
            <div class="pure-g flex-desktop">
                <div class="pure-u-md-1-2">
                    <div ng-include="'html/mainBody/nationalTrend/view-select-area.html'"></div>
                </div>
                <div class="pure-u-md-1-2">
                    <div ng-include="'html/mainBody/nationalTrend/view-select-period.html'"></div>
                </div>
            </div>
        </section>
        <section>
            <div ng-include="'html/mainBody/nationalTrend/view-last-day-data.html'"></div>
        </section>
        <section>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-tot-positive.html'"></div>
                </div>
                <div class="pure-u-md-1-24"></div>
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-diff-positive-resigned.html'"></div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-new-deceased.html'"></div>
                </div>
                <div class="pure-u-md-1-24"></div>
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-new-swabs.html'"></div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-perc-new-positive-swabs.html'"></div>
                </div>
                <div class="pure-u-md-1-24"></div>
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-new-intensive-care.html'"></div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-tot-deceased.html'"></div>
                </div>
                <div class="pure-u-md-1-24"></div>
                <div class="pure-u-1 pure-u-md-11-24">
                    <div ng-include="'html/mainBody/nationalTrend/view-chart-tot-resigned.html'"></div>
                </div>
            </div>
        </section>
        <section>
            <div ng-include="'html/mainBody/nationalTrend/view-clarifications.html'"></div>
        </section>
    </div>
</div>