<div class="chart-block">
    <div class="chart-block__title">Tamponi Giornalieri</div>
    <canvas id="chart-new-swabs" class="chart chart-line" chart-colors="colors.yellow" chart-data="chartNewSwabs.data"
        chart-labels="chartNewSwabs.labels" chart-series="chartNewSwabs.series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
