.world-trend .nation-block {
    background-color: var(--main-theme-color-black-secondary);
    color: var(--main-theme-color-white);
    border: 3px solid transparent;
    border-left: 2px solid var(--main-theme-color-red);
    padding: 0.5em 0.5em 0.2em 0.5em;
    box-shadow: 0.1em 0.1em 1em #1d1d1d57;
    margin: 5vw 2vw;
    overflow-x: hidden;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.main--light .world-trend  .nation-block {
    background-color: var(--main-theme-color-white);
    color: var(--main-theme-color-black-primary);
}

.world-trend .nation-block div {
    margin-bottom: 0.1em;
    font-size: 0.9em;
    color: #b1b1b1;
}

.main--light .world-trend .nation-block div {
    color: var(--main-theme-color-black-primary);
}

.main--light .world-trend .nation-block div span {
    color: var(--main-theme-color-black-primary);
}

.world-trend .nation-title span {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 1em;
}

.world-trend .nation-flag {
    height: 15px;
    width: auto;
}

.world-trend .load-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.world-trend .nation-block .nation-info {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

.world-trend .nation-block .value-info {
    margin-top: 0.6em;
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--main-theme-color-white);
    font-size: 1.2em;
}

.world-trend .search-nation {
    margin: 4em 1em 0 1em;
}

.world-trend .no-result {
    text-align: center;
}

@media screen and (min-width: 568px) {
    .world-trend .nation-block div {
        font-size: 0.95em;
    }
}

@media screen and (min-width: 768px) {
    .world-trend .nation-block {
        margin: 0;
        margin-bottom: 2em;
    }
    .world-trend .nation-block div {
        margin-bottom: 10px;
        font-size: 1em;
    }
    .world-trend .nation-title span {
        font-size: 120%;
        margin-left: 15px;
    }
    .world-trend .nation-flag {
        height: 22px;
    }
    .world-trend .load-more {
        transform: scale(1);
    }
    .world-trend .nation-block .value-info {
        font-size: 1.1em;
    }
    .world-trend .search-nation {
        margin: 0;
        margin-top: 2em;
    }
}

@media screen and (min-width: 1280px) {
    .world-trend .nation-block .nation-info {
        grid-template-columns: 25% 25% 25% 25%;
    }
}