.share-social {
    z-index: 1;
    display: block;
    position: relative;
}

.share-social a {
    margin: 0 0.5em;
    padding: 0.2em 1em;
    border: 0;
    box-shadow: 0;
    display: inline;
    color: var(--main-theme-color-white);
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
}

.main--light .share-social a {
    color: var(--main-theme-color-black-primary);
}

.share-button.md-button {
    margin-right: 2em;
    margin-right: 1em;
    transform: scale(0.9);
}

.share-button--open.md-button {
    border-left: 0.2em solid var(--main-theme-color-green);
}

.share-social {
    display: none;
}

.share-social--display {
    display: block;
    position: absolute;
}

.share-social .share-button.md-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 9em;
    padding: 0;
    border-left: 0.2em solid #e00157;
    font-weight: bold;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .whatsapp.share-button.md-button {
        display: none;
    }
    .email.share-button.md-button {
        display: none;
    }
    .share-button.md-button {
        margin-right: 2em;
        transform: scale(1);
    }
}