.main .header {
    background: #191919ee;
    position: fixed;
    width: 100vw;
    z-index: 10;
    top: 0;
    left: 0;
}

.main--light .header {
    background: #f1f1f1ea;
}

.header .top-bar {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
}


.header .left-position {
    margin-left: 2%;
}

.header .margin-right-auto {
    margin-right: auto;
}


@media screen and (min-width: 768px) {
    .main .header {
        margin-bottom: 1.8em;
    }      
    
    .header .top-bar {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
