.md-raised.button-modal-buy-me-coffee {
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #111111;
    width: 45px;
    min-width: 45px;
    animation: notification 7s ease-in infinite;
}

.md-button.md-default-theme.md-raised:not([disabled]):hover.button-modal-buy-me-coffee:hover, 
.md-button.md-raised:not([disabled]):hover.button-modal-buy-me-coffee:hover {
    background-color: #9E9201;
}


.md-button.md-raised:not([disabled]).button-modal-buy-me-coffee {
    animation: box-shadow 6s infinite;
}

@keyframes box-shadow {
    0% {
        box-shadow: 0px 2px 10px #000000;
    }

    35% {
        box-shadow: 0px 2px 10px #000000;
    }

    45% {
        box-shadow: 0px 2px 10px #9E9201;
    }

    49% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(4px);
    }

    51% {
        transform: translateX(-4px);
        
    }

    53% {
        transform: translateX(4px);
    }

    54% {
        transform: translateX(0px);
        box-shadow: 0px 2px 10px #9E9201;
    }

    58% {
        box-shadow: 0px 2px 10px #000000;
    }

    100% {
        box-shadow: 0px 2px 10px #000000;
    }
}

.modal-buy-me-coffe-container {
    background-color: rgba(0, 0, 0, 0.233);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-buy-me-coffe-container .modal-buy-me-coffe {
    width: 55%;
    height: 68%;
    background-color: #1a1a1a;
    overflow-y: hidden;
}

.modal-buy-me-coffe-container .modal-buy-me-coffe .modal-buy-me-coffe__header {
    height: 15%;
    text-align: right;
    padding: 12px 15px;
    font-size: 24px;
    border-radius: 5px;
}

.modal-buy-me-coffe-container .modal-buy-me-coffe .modal-buy-me-coffee__body {
    padding: 0 20%;
    text-align: center;
    letter-spacing: 2;
    height: 85%;
    line-height: 2;
}

.modal-buy-me-coffe-container .modal-buy-me-coffe .modal-buy-me-coffe__header .close-button {
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .modal-buy-me-coffe-container .modal-buy-me-coffe {
        width: 90%;
        height: 80%;
        font-size: 16px;
    }
    
    .modal-buy-me-coffe-container .modal-buy-me-coffe .modal-buy-me-coffee__body {
        padding: 2px 5%;
        overflow: scroll;
        line-height: 1.4;
    }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .modal-buy-me-coffe-container .modal-buy-me-coffe {
        width: 70%;
        height: 80%;
        font-size: 16px;
    }
    
    .modal-buy-me-coffe-container .modal-buy-me-coffe .modal-buy-me-coffee__body {
        overflow: scroll;
        line-height: 1.4;
    }
}