.switch-theme {
    font-size: 26px;
    padding-right: 2vw;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}

.switch-theme--dark-active {
    color: #d8d8d8;
}

.switch-theme--dark-inactive {
    color: #191919;
}


@media screen and (min-width: 768px) {
    .switch-theme {
        font-size: 32px;
        padding-right: 2vw;
    }
    
}