@keyframes fadein {
    0% { margin-left: -200vw; }
    80% { margin-left: 10vw; }
    100% { margin-left: var(--main-margin-dati); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { margin-left: -200vw; }
    80% { margin-left: 10vw; }
    100% { margin-left: var(--main-margin-dati); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { margin-left: -200vw; }
    80% { margin-left: 10vw; }
    100% { margin-left: var(--main-margin-dati); }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { margin-left: -200vw; }
    80% { margin-left: 10vw; }
    100% { margin-left: var(--main-margin-dati); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { margin-left: -200vw; }
    80% { margin-left: 10vw; }
    100% { margin-left: var(--main-margin-dati); }
}

.national-trend .last-day-data {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
    margin-left: var(--main-margin-dati);
}

.national-trend .info-field {
    min-width: 64vw;
    position: relative;
    display: block;
    margin-bottom: 1vw;
}

.national-trend .info-field__title {
    font-weight: bold;
    color: var(--main-theme-color-red);
    margin-right: 5px;
}

.national-trend .info-field__desc {
    font-size: 0.9em;
}

.national-trend .last-day-data .md-headline {
    font-size: 93%;
    font-weight: bold;
    color: #b1b1b1;        
}

.main--light .national-trend .last-day-data .md-headline {
    color: #636363;
}

.national-trend .last-day-data md-card {
    border-radius: 4px;
    background-color: transparent;
    border-left: 2px solid var(--main-theme-color-red);
}

.national-trend .last-day-data .info-field--green md-card  {
    border-left: 2px solid var(--main-theme-color-green);
}

.national-trend .last-day-data .info-field--yellow md-card  {
    border-left: 2px solid var(--main-theme-color-yellow);
}

.national-trend .last-day-data md-card md-card-title {
    padding: 2vw;
    background-color: var(--main-theme-color-black-secondary);
    color: var(--main-theme-color-white);    
}

.national-trend .last-day-data md-card md-card-title md-card-title-text:only-child .md-subhead {
    font-size: 130%;
    font-weight: bold;
}

.main--light .national-trend .last-day-data md-card md-card-title {
    background-color: var(--main-theme-color-white);
    color: var(--main-theme-color-black-primary);    
}

@media screen and (min-width: 568px) {
    .national-trend .info-field {
        min-width: 40vw;
    }
}


@media screen and (max-width: 1023px) {
    .national-trend .last-day-data {
        -webkit-animation: fadein 1s ease-out; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s ease-out; /* Firefox < 16 */
        -ms-animation: fadein 1s ease-out; /* Internet Explorer */
        -o-animation: fadein 1s ease-out; /* Opera < 12.1 */
        animation: fadein 1s ease-out;
    }
}

@media screen and (min-width: 1024px) {
    .national-trend .last-day-data {
        overflow-x: auto;
        flex-direction: row;
        flex-flow: wrap;
        width: 99%;
    }
    .national-trend .last-day-data .info-field {
        min-width: 25%;
        max-width: 25%;
    }
    .national-trend .last-day-data md-card md-card-title {
        padding: 12px;
    }
    .national-trend .last-day-data {
        margin-bottom: 0;
    } 

    .national-trend .info-field__title {
        font-size: var(--main-font-size-info-section);
    }

    .national-trend .info-field__desc {
        font-size: var(--main-font-size-info-section);
    }

}

@media screen and (min-width: 1280px) {
    .national-trend .last-day-data .info-field {
        min-width: 20%;
        max-width: 20%;
    }
}
