.national-trend .select-data {
    margin: 3em 0 1em var(--main-margin-dati);
}

.national-trend .select-data__title {
    font-weight: bold;
    font-size: var(--main-font-size-info-section);
}


.main--dark .national-trend .select-data .md-select-value .md-select-icon:after {
    color: var(--main-theme-color-white);
}

.main--light .national-trend .select-data .md-select-value .md-select-icon:after {
    color: var(--main-theme-color-black-primary);
}