.national-trend .clarifications {
    margin: 0 2vw;
}

.national-trend .data-clarifications {
    font-size: 0.7em;
    margin-bottom: 3em;
}

.national-trend .data-clarifications__title {
    font-size: 1.5em;
    margin-bottom: 0.7em;
    margin-top: 1.3em;
}

.national-trend .data-clarifications__block {
    background: #731919b0;
    color: #ffcfcf;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .national-trend .data-clarifications {
        font-size: 1em;
    }

    .national-trend .data-clarifications__title {
        font-size: 1.2em;
    }
}