.national-trend .chart-block {
    margin: 10vw 0;
}

.national-trend .chart-block__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2vw;
}

@media screen and (min-width: 768px) {
    .national-trend .chart-block {
        margin: 4vw 0;
    }

    .national-trend .chart-block__title {
        margin-bottom: 0.3vw;
    }

    .national-trend [id^="chart-"] {
        margin-top: 10px;
        margin-bottom: 50px;
    }
}