
.main .body {
    min-height: 80vh;
    margin-bottom: 1.8em;
    padding-top: 5em;
} 

.title {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.national-trend .update-date {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 1.3em;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2em;
    }

    .main .body {
        padding: 1vw 1.5vw;
        padding-top: 7em;
    } 
    
    .national-trend .update-date {
        font-size: 1.1em;
    }
}
