<md-button class="md-raised button share-button" ng-class="shareButtons ? 'share-button--open' : ''" ng-click="setShareButtons()">Condividi</md-button>

<div class="share-social" ng-class="shareButtons ? 'share-social--display' : ''">
    <md-button class="md-raised button button share-button whatsapp">
        <a class="whatsapp" href="whatsapp://send?text=https://covid-19-it.netlify.com"
            data-action="share/whatsapp/share">Whatsapp</a>
    </md-button>
    <md-button class="md-raised button share-button">
        <a href="http://www.facebook.com/sharer.php?u=covid-19-it.netlify.com" target="_blank">
            Facebook
        </a>
    </md-button>
    <md-button class="md-raised button share-button">
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=covid-19-it.netlify.com" target="_blank">
            LinkedIn
        </a>
    </md-button>
    <md-button class="md-raised button share-button">
        <a href="https://twitter.com/share?url=covid-19-it.netlify.com" target="_blank">
            Twitter
        </a>
    </md-button>
    <md-button class="md-raised button share-button email">
        <a href="mailto:?Subject=Statistiche Covid 19&amp;Body=https://covid-19-it.netlify.com">
            Email
        </a>
    </md-button>
</div>