<div class="change-data" ng-click="setWorldData()">
    <md-button ng-if="!isWorldData" ng-click="changeRoute('worldData')" class="md-raised button">Dati Mondiali</md-button>
    <md-button ng-if="isWorldData" ng-click="changeRoute('/')" class="md-raised button">Dati Nazionali</md-button>
</div>