<div class="header">
    <div class="pure-g">
        <div class="top-bar">
            <div ng-include="'html/mainHeader/view-switch-theme.html'"></div>
            <div ng-include="'html/mainHeader/view-sharing-button.html'"></div>
            <div ng-include="'html/mainHeader/view-change-data.html'" class="left-position margin-right-auto"></div>
            <div ng-include="'html/mainHeader/view-buy-coffee.html'" class="left-position"></div>

        </div>
    </div>
</div>
<div ng-if="shareButtons" ng-click="setShareButtons()" class="hover-background"></div>
