<div class="switch-theme">
    <div class="fa fa-toggle-on"
        ng-class="darkTheme ? 'switch-theme--dark-active':'fa-rotate-180 switch-theme--dark-inactive'"
        ng-click="executeDarkTheme(!darkTheme)">
    </div>    
</div>