<div class="">
    <md-button ng-click="executeShowBuyMeCoffe(true)" class="md-raised button-modal-buy-me-coffee">🔔</md-button>
</div>

<div ng-if="showBuyMeCoffee" class="modal-buy-me-coffe-container">
    <div class="modal-buy-me-coffe">
        <div class="modal-buy-me-coffe__header">
            <div class="close-button" ng-click="executeShowBuyMeCoffe(false)">X</div>
        </div>
        <div class="modal-buy-me-coffee__body">
            <div>
                Ciao, <b>daticovid.com</b> è un sito web sviluppato da <a target="_blank" href="https://www.linkedin.com/in/michele-bitetto/">me</a>. Fino ad ora mi sono fatto carico di tutte le spese dello sviluppo e della manutenzione del sito. Se in tutti questi mesi sei tornato spesso per vedere i nuovi dati e vuoi contribuire, puoi farlo qui.
                <br><br>
                <div>
                    <a href="https://www.buymeacoffee.com/bN0ZHM7" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
                </div>
                <br> Grazie per il tuo sostegno.
        </div>
    </div>
</div>

