<div class="world-trend">
    <div class="title">DATI COVID-19 MONDIALI</div>
    <div class="loading" ng-if="loading">
        <div ng-if="!callError">
            <div ng-include="'html/mainBody/view-loader.html'"></div>
        </div>
    </div>
    <div class="call-error" ng-if="callError">
        Il servizio non è disponibile al momento, riprova più tardi.
    </div>
    <div ng-if="!loading">
        <div ng-include="'html/mainBody/worldTrend/view-countries.html'"></div>
    </div>
</div>