<div class="pure-g">
    <div class="pure-u-md-1-5">
    </div>
    <div class="pure-u-md-3-5">
        <div class="search-nation">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Cerca Nazione</label>
                <input name="nation" ng-model="searchedNation"
                    placeholder="Inserisci una nazione (nome inglese)" ng-change="searchNation(searchedNation)" maxlength="25">
            </md-input-container>
        </div>
        <div ng-if="isSearchNation && worldTrend.dataWorld.length === 0" class="no-result">Nessun risultato per la tua ricerca</div>
        <div ng-repeat="el in worldTrend.dataWorld track by $index">
            <md-card class="nation-block">
                <div class="nation-title">
                    <img class="nation-flag" src="{{el.countryInfo.flag}}" />
                    <span>{{el.country}}</span>
                </div>
                <div>
                    <div class="nation-info">
                        <div>Nuovi Casi <br>
                            <div class="value-info">{{el.todayCases}}</div>
                        </div>
                        <div>Attualmente Positivi <br>
                            <div class="value-info">{{el.active}}</div>
                        </div>
                        <div>Terapia Intensiva <br>
                            <div class="value-info">{{el.critical}}</div>
                        </div>
                        <div>Nuovi Deceduti <br>
                            <div class="value-info">{{el.todayDeaths}}</div>
                        </div>
                    </div>
                    <div class="nation-info">
                        <div>Casi Totali Positivi <br>
                            <div class="value-info">{{el.cases}}</div>
                        </div>
                        <div>Casi/Milione<br>
                            <div class="value-info">{{el.activePerOneMillion}}</div>
                        </div>
                        <div>Deceduti/Milione<br>
                            <div class="value-info">{{el.deathsPerOneMillion}}</div>
                        </div>
                        <div>Nuovi Guariti<br>
                            <div class="value-info">{{el.todayRecovered}}</div>
                        </div>
                    </div>
                </div>
                
            </md-card>
        </div>
        <div class="load-more" ng-if="isLoadMore && !isSearchNation">
            <md-button class="md-raised button" ng-click="loadDataWorld(false)">Carica Altro</md-button>
        </div>
    </div>
    <div class="pure-u-md-1-5">
    </div>
</div>